<div class="col-sm-8">
        <h2>{{title}}
            <a class="close" aria-label="Close" routerLink="/procs">
                <span aria-hidden="true">&times;</span>
            </a>
        </h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="inputParam" class="col-sm-2 col-form-label">Parameter</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="inputParam" placeholder="Enter the required parameter here"
                        >
                </div>
            </div>
            <div class="form-group row">
                <label for="inputDuration" class="col-sm-2 col-form-label">Duration (Secs)</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" formControlName="inputDuration"
                        placeholder="How long should this process run for?" 
                            >
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="gridRadios1" value="option1"
                                checked>
                            <label class="form-check-label" for="gridRadios1">
                                First radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Second radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                                Third radio
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <button *ngIf="loading" type="submit" class="btn btn-outline-secondary btn-block" disabled>
                        <div >
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                            Already running, please wait
                        </div>
                    </button>
                    <button *ngIf="!loading" type="submit" class="btn btn-outline-secondary btn-block">Start Process</button>
                </div>
            </div>
            <div class="form-group row">
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
        </form>
    </div>