<div class="card-columns">
    <div class="card text-center" *ngFor="let proc of procs">
        <div class="card-body">
            <h5 class="card-title">{{proc.name}}</h5>
            <p class="card-text">{{proc.desc}}</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            {{proc.status}}
        </div>
    </div>
</div>

<!--
<div class="card-columns">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">PROCESS ONE</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum ex ac massa ultrices interdum</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">PROCESS TWO</h5>
            <p class="card-text">Integer vel libero consequat, maximus quam quis, lacinia felis. Donec semper nisi et risus accumsan, ut viverra ante volutpat. Morbi volutpat eleifend egestas. Sed et velit ac risus ullamcorper rutrum id vel justo</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">PROCESS THREE</h5>
            <p class="card-text">Curabitur et consequat urna. Mauris placerat erat vel nisi hendrerit bibendum. Suspendisse non augue et lacus semper vulputate vitae nec nisl. Donec sollicitudin tellus diam, at accumsan neque sagittis ut. Aliquam erat volutpat</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
            
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">PROCESS FOUR</h5>
            <p class="card-text">Vestibulum auctor semper ante nec sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">PROCESS FIVE</h5>
            <p class="card-text">Praesent nisl lectus, sagittis eu efficitur id, tincidunt eu lectus. Aliquam est lorem, sodales nec tortor non</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
            
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">PROCESS SIX</h5>
            <p class="card-text">Aenean sed aliquet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla iaculis sapien eu dictum iaculis. Quisque nibh erat, euismod at tristique rhoncus, ultrices id nisl</p>
            <a href="#" class="btn btn-outline-secondary btn-block">Configure Process</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>

</div>
-->