/* You can add global styles to this file, and also import other style files */

.aplr-main-content {
    padding: 30px;
    background-color: #f5f5f5;
    height: 100%;
}

.aplr-bg-gradient {
    background-image: linear-gradient(15deg, #000000 0%, #940280 50%, #54ced6 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.aplr-form-width {
    max-width: 800px;
}